# Directorio de binarios
bin/

# Directorio de exportación de imágenes del informe, e imagen grande en PGM
informe/img/
test/9097x6500.pgm

# Informe en PDF, no es necesario que esté en el repositorio
informe/informe.pdf

# Archivos de los editores
nbproject/
doc/
*.swp
*.~lock.*
*.vim
