# Directorio de binarios
bin/

# Directorio de exportación de imágenes del informe, e imagen grande en PGM
informe/img/
test/9097x6500.pgm

# Archivos de los editores
nbproject/
doc/
*.swp
*.~lock.*
*.vim
